{% extends "allform/main.html" %}

{% block content %}
<br>
	<div class="container-fluid">
		<a class="btn btn-primary" href="{% url 'addcustomer' %}" role="button" style="float: right;">Add Customer</a>
		<br>
		<br>
		<table class="table table-dark">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Phone</th>
					<th scope="col">Email</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					
				{% for customer in customers %}

					<td>{{ customer.name }}</td>
					<td>{{ customer.phone }}</td>
					<td>{{ customer.email }}</td>
					<td>
						<a class="btn btn-outline-primary btn-sm" href="{% url 'editcustomer' customer.id %}" role="button">Edit</a>
						<a class="btn btn-outline-danger btn-sm" href="{% url 'deletecustomer' customer.id %}" role="button">Delete</a>
					</td>
				</tr>

				{% endfor %}
			</tbody>
		</table>

	</div>
{% endblock %}